<h1>everybook</h1>
{{#each books}}
<ul style="color:red;">
    <li>
        <pre><h1>title: {{this.title}}</h1></pre>
        <p>Description: {{this.description}}</p>
        <p>bookinfo: {{this.bookinfo}}</p>
        <p>author: {{this.author}}</p>
        <p>published: {{this.published}}</p>
    </li>
</ul>
{{/each}}

<!-- 
e-Take the lead Math School series of math for kind 1 Isabelle Lim 2011
Shadow Gambit Quest for legendary item 2 	Adam Drake 	2017
Edge Of Doom An all-new adventure revisiting 	2 	Steve Niles 	2019
Daily Motivations for African Success Inside are the tools that will help you focus on the thoughts, attitudes 3 Dennis Kimbro 2011
-->