<h1>everybook</h1>
{{#each books}}
<ul style="color:red;">
    <li>
        <pre>title {{this.title}}</pre>
        <p>Description {{this.description}}</p>
        <p>bookinfo {{this.bookinfo}}</p>
        <p>author {{this.author}}</p>
        <p>published {{this.published}}</p>
    </li>
</ul>
{{/each}}