        <h1>everybook</h1>
{{#each books}}
<ul style="color:red;">
    <li>
        <pre>{{title}}</pre>
        <pre>{{description}}</pre>
        <pre>{{bookinfo}}</pre>
        <pre>{{author}}</pre>
        <pre>{{published}}</pre>
    </li>
</ul>
{{/each}}