<h1>everybook</h1>
{{#each books}}
<ul style="color:red;">
    <li>
        <pre>{{this.title}}</pre>
        <pre>{{this.description}}</pre>
        <pre>{{this.bookinfo}}</pre>
        <pre>{{this.author}}</pre>
        <pre>{{this.published}}</pre>
    </li>
</ul>
{{/each}}